.main_island {
  animation-name: main_island;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2.5s;
}
@keyframes main_island {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* 관람차 */
.justGospin {
  animation: justGo 30s linear infinite;
}
@keyframes justGo {
  100% {
    transform: rotate(360deg);
  }
}
/* 간판 */
.sign {
  animation-name: sign;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
@keyframes sign {
  0% {
    background: url(../image/main_visual/island/tit_justGo_on.png) no-repeat
      center center;
  }
  100% {
    background: url(../image/main_visual/island/tit_justGo_off.png) no-repeat
      center center;
  }
}
/* 짱구과자 */
.justGo_rotation {
  animation: justGo_r 10s linear infinite;
}
@keyframes justGo_r {
  100% {
    transform: rotate(360deg);
    transform-origin: 50% top;
  }
}
/* object */
.object_box li {
  animation: bounceInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
li.ob01 {
  animation-delay: 0.1s;
}
li.ob02 {
  animation-delay: 1.2s;
}
li.ob03 {
  animation-delay: 1.3s;
}
li.ob04 {
  animation-delay: 0.4s;
}
li.ob05 {
  animation-delay: 0.5s;
}
li.ob06 {
  animation-delay: 0.6s;
}
li.ob07 {
  animation-delay: 0.7s;
}
li.ob08 {
  animation-delay: 0.8s;
}
li.ob09 {
  animation-delay: 0.9s;
}
li.ob11 {
  animation-delay: 1.1s;
}
li.ob12 {
  animation-delay: 1.2s;
}
li.ob13 {
  animation-delay: 1.3s;
}
li.ob14 {
  animation-delay: 1.4s;
}
/* 사람 */
.person_object li {
  animation-name: fadeIn;
  animation-duration: 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.po01 {
  animation-delay: 0.1s;
}
.po02 {
  animation-delay: 0.3s;
}
.po03 {
  animation-delay: 0.6s;
}
.po04 {
  animation-delay: 0.9s;
}
.po05 {
  animation-delay: 1.2s;
}
/* 풍선 */
.balloon,
.sec1_balloon {
  animation-name: balloon;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes balloon {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
.balloon01,
.sec1_b1 {
  animation-delay: 1.5s;
}
.sec_b2 {
  animation-delay: 5s;
}

/* 무지개 */
.sec3_rainbow {
  animation-name: rainbow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes rainbow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.sec3_cloud01,
.sec3_cloud02 {
  animation-name: cloud;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
.sec3_cloud02 {
  animation-duration: 7s;
  animation-delay: 0.3s;
}
@keyframes cloud {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0%);
  }
}
/* sec1 사람 */
.sec1_person {
  animation-name: jump;
  animation-duration: 1s;
}
@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
} ;
