@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .inner {
    width: 100%;
    margin: auto;
  }
  /* header */
  header {
    width: 100%;

    background-color: rgb(255, 255, 255);
    /* 스크롤 내리먄 보이게 */
  }
  .header_inner {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border: 1px solid #000;
    padding: 1em;
  }
  .header_logo {
    width: 150px;
    border: 1px solid #000;
  }
  nav {
    display: none;
  }
  .menu {
    width: fit-content;
  }
  .menu_icon {
    width: 25px;
    height: 25px;
  }
  .menu_icon span {
    height: 4px;
    background-color: #fff;
    /* 스크롤시 핑크 */
  }
  .menu_lang,
  .menu_search {
    display: none;
  }
  /* mainVisual */
  .main_visual {
    max-width: 100%;
    height: 80vh;
    background: url(../image/main_visual/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  /* 관람차 */
  .ferris_wheel {
    top: 41%;
  }
  /* 간판 */
  .sign {
    background: url(../image/main_visual/island/tit_justGo_on.png) no-repeat
      center center;
    background-size: 50%;
    max-width: 100%;
  }
  @keyframes sign {
    0% {
      background-size: 50%;
    }
    100% {
      background-size: 50%;
    }
  }
  .justGo_rotation {
    width: 100%;
    top: 0%;
    left: 0%;
  }
  .justGo_rotation p {
    width: 14%;
  }
  /* object 배치 */
  li.ob01 {
    width: 5%;
    top: 4%;
    right: 32%;
  }
  li.ob02 {
    width: 15%;
    top: 4%;
    left: 10%;
  }
  li.ob03 {
    width: 8%;
    top: 7%;
    left: 60%;
  }
  li.ob04 {
    width: 12%;
    top: 2%;
    left: 66%;
  }
  li.ob05 {
    width: 20%;
    top: 3%;
    left: 74%;
  }
  li.ob06 {
    width: 9%;
    top: 4%;
    left: 61%;
  }
  li.ob07 {
    width: 5%;
    top: 17%;
    left: 70%;
    display: none;
  }
  li.ob08 {
    width: 7%;
    top: 17%;
    left: 72%;
  }
  li.ob09 {
    width: 9%;
    top: 20%;
    left: 66%;
    display: none;
  }
  li.ob10 {
    width: 3%;
    top: 14%;
    left: 45.5%;
    display: none;
  }
  li.ob11 {
    width: 20%;
    top: 2%;
    left: 29%;
    display: none;
  }
  li.ob12 {
    width: 5%;
    top: 17%;
    left: 30%;
    display: none;
  }
  li.ob13 {
    width: 7%;
    top: 19%;
    left: 20%;
    display: none;
  }
  li.ob14 {
    width: 5%;
    top: 22%;
    left: 72%;
    display: none;
  }
  li.ob15 {
    width: 7%;
    top: 21%;
    left: 59%;
    display: none;
  }
  li.ob16 {
    width: 5%;
    top: 24%;
    left: 39%;
    display: none;
  }
  /* 사람 */
  .person {
  }
  ul.person_object {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  ul.person_object li {
    position: absolute;
  }
  ul.person_object li img {
    max-width: 100%;
  }
  .po01 {
    width: 6.5%;
    top: 20%;
    left: 30%;
  }
  .po02 {
    width: 3%;
    top: 20%;
    left: 45%;
  }
  .po03 {
    width: 3%;
    top: 15%;
    left: 35.5%;
  }
  .po04 {
    width: 9%;
    top: 15%;
    left: 59%;
  }
  .po05 {
    width: 5%;
    top: 14%;
    left: 53%;
  }
  /* 풍선 */
  .balloon {
    width: 10%;
    height: auto;
    position: absolute;
  }
  .balloon img {
    max-width: 100%;
  }
  .balloon01 {
    top: 20%;
    left: 18%;
  }
  .balloon02 {
    top: 20%;
    left: 11.5%;
  }
  /* sec1 -기업정신 */
  .wrap {
    position: relative;
  }
  .sec1_entrepreneurship {
    width: 100%;
    /* position: absolute; */
    /* top: 12%; */
    /* left: 0; */
    border: 1px solid #000;
    padding: 0 1em;
    margin: 0;
  }
  .title h4 {
    color: #f97fb5;
    font-size: 16px;
  }
  .title h2 {
    color: #c54769;
    font-size: 30px;
  }
  .mind_box {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding-top: 7em;
  }

  .mind {
    color: #fff;
    width: calc(90% / 3);
    height: auto;
    position: relative;
  }
  .mind_circle {
    position: absolute;
    top: -20%;
    /* clip-path: circle(120px at 50% 50%); */
  }
  .mind_circle span {
    width: 120px;
    height: 120px;
    display: block;
    background-color: #f675a7;
    border-radius: 50%;
    position: absolute;
    top: -0%;
    left: 51.5%;
    transform: translateX(-50%);
  }
  .mind:nth-child(2) .mind_circle span {
    background-color: #f8dd89;
  }
  .mind:nth-child(3) .mind_circle span {
    background-color: #a2d2f6;
  }
  .mind_circle img {
    width: 80%;
    object-fit: contain;
    object-position: 30px -10px;
  }
  .mc2 img {
    width: 80%;
    object-position: 022px -10px;
  }
  .mc3 img {
    width: 80%;
    object-position: 20px -12px;
  }
  .clip_path {
    clip-path: url(none);
    margin: 0 auto;
  }
  .mind_circle svg {
    display: none;
  }
  .mind_text {
    height: 100%;
    text-align: center;
    border-radius: 25px;
    padding: 3em 0.5em 1em 0.5em;
  }
  .mind:nth-child(1) > .mind_text {
    background-color: #f99fc2;
  }
  .mind:nth-child(2) > .mind_text {
    background-color: #fbe8ad;
  }
  .mind:nth-child(3) > .mind_text {
    background-color: #bee0f9;
  }

  .mind_text > span {
    font-family: "bold";
    display: block;
    font-size: 20px;
  }
  .mind_text > span:nth-child(1) {
    font-size: 16px;
    margin-bottom: 0.7em;
  }
  .mind_text > span:nth-child(2) {
    font-size: 18px;
    line-height: 1em;
  }
  .mind_text > span > em {
    font-style: normal;
    color: #c54769;
  }
  .dot {
    margin: 0.5em 0;
  }
  .mind_text > p {
    line-height: 2.5em;
    font-size: 14px;
  }
  .pink_bg {
    width: 100%;
    height: calc(26% + 5em);
    position: absolute;
    bottom: 0em;
    z-index: -10;
    background-color: #fff5f6;
  }
  .sec1_person {
    width: 9%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 10;
  }
  /* sec2 - tab */
  .sec2_productInfor {
    width: 100%;
    padding: 0 1em;
    padding-bottom: 2em;
  }
  .sec2_sub_island {
    width: 12%;
    position: absolute;
    top: 7%;
    left: -4%;
  }
  .sec2_tab {
    width: 100%;
    padding-top: 5em;
  }
  .sec2_tab ul {
    width: 60%;
    display: flex;
    justify-content: space-between;
    font-size: 2.5vw;
    font-family: "bold";
    color: #d2d2d2;
    margin: auto;
  }
  .story_box {
    display: flex;
    background-color: #fff;
    border-radius: 60px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 2em 0 2em 0;
  }
  .story_img {
    flex: 0.5;
    align-self: center;
    margin-right: 1em;
  }
  .tab_title {
    height: fit-content;
    display: flex;
  }
  .tab_title h2 {
    margin-bottom: 0.5em;
  }
  .tab_title img {
    height: 30px;
  }
  article p {
    font-size: 2.5vw;
    color: #817879;
    line-height: 1.25em;
    margin: 0em 0;
  }
  .story_link {
    display: flex;
  }
  .story_link a {
    display: inline-block;
    text-align: center;
    width: 40%;
    font-size: 2.2vw;
    padding: 0.5em 0.5em;
    border-radius: 15px;
    font-family: "bold";
    border: 1px solid #c54769;
    transition: 0.3s;
    margin-top: 1em;
  }
  .story_link a:nth-of-type(1) {
    background-color: #c54769;
    color: #fff;
    margin-right: 0.5em;
  }
  /* 상품 슬라이드 */
  .prod_wrap {
    width: 100%;
  }
  .prod_box {
    padding: 0 0em;
    margin-right: 0em;
  }
  .prod_bg {
    width: 120px;
    height: 120px;
  }
  .prod_box span {
    font-size: 2.2vw;
  }
  .prod_box a {
    width: 90%;
    font-size: 2.5vw;
    padding: 0.6em 0;
    display: inline-block;
  }
  /* sec3 - esg 경영 */
  .sec3_esgmanagment {
    width: 100%;
    position: relative;
    padding-top: 5em;
  }
  .sec3_inner {
    width: 100%;
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
  }
  /* 이 안으로 작성 */
}
@media (max-width: 500px) {
  .mind_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0em;
  }
  .mind {
    color: #fff;
    width: 335px;
    height: auto;
    position: relative;
  }
  .mind_circle {
    position: absolute;
    top: 0;
    bottom: 100%;
  }
  .mind_circle span {
    width: 210px;
    height: 210px;
    display: block;
    background-color: #f675a7;
    border-radius: 50%;
    position: absolute;
    top: 31px;
    left: 51.5%;
    transform: translateX(-50%);
  }
  /* 상품슬라이드 */
  .prod_bg {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }
}
