/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

/* font */
@font-face {
  font-family: "bold";
  src: url("../font/TmoneyRoundWindExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "nomal";
  src: url("../font/TmoneyRoundWindRegular.ttf") format("truetype");
}

/* common */
* {
  box-sizing: border-box;
}
body {
  font-family: "nomal";
  font-size: 16px;
}
.wrap {
  overflow: hidden;
  position: relative;
}
.inner {
  width: 1200px;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "bold";
}
section {
  margin-bottom: 5em;
}
/* header */
header {
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255, 0.2);
  transition: 0.3s;
}

.top_stick {
  display: block;
  width: 100%;
  height: 2px;
  position: relative;
  background-color: #c54769;
}
.top_stick::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  background-color: #ff7e00;
}
.header_inner {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 72px;
  align-items: center;
}
.header_logo {
  width: 120px;
}
.header_logo img {
  width: 100%;
}
header:hover {
  background-color: rgb(255, 255, 255, 0.9);
}
header:hover ul.gnb li a {
  color: #f97fb5;
  position: relative;
}
header:hover ul.gnb li a:hover {
  color: #ff7e00;
  position: relative;
}
header:hover ul.gnb li a::before {
  content: "";
  width: 00%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid #ff7e00;
  transition: 0.3s;
}
header:hover ul.gnb li a:hover::before {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid #ff7e00;
}

/* navigation 네비게이션 */
nav {
}
ul.gnb {
  display: flex;
  justify-content: center;
}
.gnb li {
}
.gnb li a {
  width: 100%;
  color: #fff;
  padding: 0 1.5em;
  transition: 0.3s;
  font-size: 18px;
  text-shadow: 0 0 1px #fff;
}

/* menu */
.menu {
  width: 80%;
  display: flex;
  justify-content: space-between;
  justify-self: end;
}
.menu > div {
  cursor: pointer;
}
.menu_lang {
}
.menu_lang a {
  color: #fff;
  font-size: 20px;
  transition: 0.3s;
}
.menu_lang a i {
  padding-left: 0.1em;
  font-size: 18px;
  vertical-align: middle;
}
.menu_lang ul {
  display: none;
}
.menu_search {
  width: 21px;
  width: 21px;
  background: url(../image/header/menu_icon/search.png);
  background-repeat: no-repeat;
  transition: 0.3s;
}
header:hover .menu_search {
  background-image: url(../image/header/menu_icon/search\(pink\).png);
  transition: 0.3s;
}
header:hover .menu_search:hover {
  background-image: url(../image/header/menu_icon/search\(orange\).png);
}
.menu_search img {
  width: 100%;
}
.menu_icon {
  width: 20px;
  height: 19px;
  position: relative;
}
.menu_icon span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  transition: 0.3s;
}
header:hover .menu_icon span {
  background-color: #f97fb5;
  transition: 0.3s;
}
header:hover .menu_icon:hover span {
  background-color: #ff7e00;
}
.menu_icon span:nth-child(1) {
  top: 0;
}
.menu_icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.menu_icon span:nth-child(3) {
  bottom: 0;
}
header:hover .menu_lang a {
  color: #f97fb5;
}
/* main_visual */
.main_visual {
  max-width: 1920px;
  height: 1080px;
  margin: auto;
  background: url(../image/main_visual/background.jpg) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid hotpink;
  position: relative;
}
.mv_inner {
  height: 100%;
  border: 1px solid blue;
}
.main_island {
  width: 100%;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 3px solid orangered;
}
.main_island img {
  max-width: 100%;
  /* display: block;
  margin: auto; */
}
/* 관람차 */
.ferris_wheel {
  bottom: 65%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border: 1px solid #000;
}
.justGo {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid red;
}
.justGo > img {
  max-width: 100%;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.sign {
  width: 50%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sign img {
  max-width: 100%;
}
.justGo_rotation {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 3px solid blue;
}
.justGo_rotation li {
  width: 15%;
  position: absolute;
  border: 1px solid #000;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.justGo_rotation li span {
  width: 100%;
  height: auto;
  display: block;
}
.justGo_rotation li span img {
  width: inherit;
  max-width: 100%;
}
.jgr01 {
  top: 51%;
  left: 43%;
}
.jgr02 {
  top: 32%;
  left: 13%;
}
.jgr03 {
  top: -16%;
  left: 3%;
}
.jgr04 {
  top: -65%;
  left: 13%;
}
.jgr05 {
  top: -85%;
  left: 41%;
}
.jgr06 {
  top: -65%;
  right: 16%;
}
.jgr07 {
  top: -16%;
  right: 5%;
}
.jgr08 {
  top: 32%;
  right: 14%;
}

.justGoBtm {
  width: 100%;
  height: auto;
}
.justGoBtm img {
  max-width: 100%;
}
/* 과자들 */
.object {
}
ul.object_box {
}
ul.object_box li {
  position: absolute;
}
ul.object_box li img {
  max-width: 100%;
  height: auto;
}

li.ob01 {
  width: 5%;
  top: 15%;
  right: 37%;
}
li.ob02 {
  width: 10%;
  top: 15%;
  left: 22%;
}
li.ob03 {
  width: 8%;
  top: 25%;
  left: 51.5%;
}
li.ob04 {
  width: 7%;
  top: 14%;
  left: 57.5%;
}
li.ob05 {
  width: 20%;
  top: 0%;
  left: 63%;
}
li.ob06 {
  width: 9%;
  top: 6%;
  left: 61%;
}
li.ob07 {
  width: 5%;
  top: 25%;
  left: 70%;
}
li.ob08 {
  width: 7%;
  top: 25%;
  left: 72%;
}
li.ob09 {
  width: 9%;
  top: 34%;
  left: 66%;
}
li.ob10 {
  width: 3%;
  top: 29%;
  left: 45.5%;
}
li.ob11 {
  width: 20%;
  top: 5%;
  left: 29%;
}
li.ob12 {
  width: 5%;
  top: 34%;
  left: 30%;
}
li.ob13 {
  width: 7%;
  top: 37%;
  left: 20%;
}
li.ob14 {
  width: 5%;
  top: 37%;
  left: 72%;
}
li.ob15 {
  width: 7%;
  top: 38%;
  left: 59%;
}
li.ob16 {
  width: 5%;
  top: 48%;
  left: 39%;
}
/* 사람 */
.person {
}
ul.person_object {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
}
ul.person_object li {
  position: absolute;
}
ul.person_object li img {
  max-width: 100%;
}
.po01 {
  width: 6.5%;
  top: 58%;
  left: 30%;
}
.po02 {
  width: 3%;
  top: 55%;
  left: 45%;
}
.po03 {
  width: 3%;
  top: 42%;
  left: 35.5%;
}
.po04 {
  width: 9%;
  top: 39%;
  left: 59%;
}
.po05 {
  width: 5%;
  top: 36%;
  left: 53%;
}
/* 풍선 */
.balloon {
  position: absolute;
  top: 0;
  left: 0;
}
.balloon01 {
  top: -20%;
  left: 18%;
}
.balloon02 {
  top: -26%;
  left: 11.5%;
}
/* sec1 - 기업정신 */
.sec1_entrepreneurship {
  position: relative;
}
.sec1_inner {
}
.title {
  text-align: center;
}
.title h4 {
  color: #f97fb5;
  font-size: 20px;
}
.title h2 {
  color: #c54769;
  font-size: 40px;
}
.mind_box {
  display: flex;
  justify-content: space-between;
  padding-top: 14em;
}
.mind {
  color: #fff;
  width: 335px;
  height: auto;
  position: relative;
}
.mind_circle {
  position: absolute;
  bottom: 12%;
}
.mind_circle span {
  width: 210px;
  height: 210px;
  display: block;
  background-color: #f675a7;
  border-radius: 50%;
  position: absolute;
  top: 31px;
  left: 51.5%;
  transform: translateX(-50%);
}
.mind:nth-child(2) .mind_circle span {
  background-color: #f8dd89;
}
.mind:nth-child(3) .mind_circle span {
  background-color: #a2d2f6;
}
.mind_circle img {
  width: 100%;
  object-fit: contain;
  object-position: 10px -20px;
}
.mc2 img {
  width: 100%;
  object-position: 5px -25px;
}
.mc3 img {
  width: 100%;
  object-position: 0px -20px;
}
.clip_path {
  clip-path: url(#circle);
}
.mind_text {
  text-align: center;
  border-radius: 25px;
  padding: 7em 1em 3em 1em;
}
.mind:nth-child(1) > .mind_text {
  background-color: #f99fc2;
}
.mind:nth-child(2) > .mind_text {
  background-color: #fbe8ad;
}
.mind:nth-child(3) > .mind_text {
  background-color: #bee0f9;
}

.mind_text > span {
  font-family: "bold";
  display: block;
}
.mind_text > span:nth-child(1) {
  font-size: 23px;
  margin-bottom: 1em;
}
.mind_text > span:nth-child(2) {
  font-size: 28px;
  line-height: 1.3em;
}
.mind_text > span > em {
  font-style: normal;
  color: #c54769;
}
.dot {
  margin: 1em 0;
}
.mind_text > p {
  line-height: 2.5em;
}
.pink_bg {
  width: 100%;
  height: calc(26% + 5em);
  position: absolute;
  bottom: -5em;
  z-index: -10;
  background-color: #fff5f6;
}
/* sec2-tab */
.sec2_productInfor {
  position: relative;
  padding-bottom: 5em;
  background-color: #fff5f6;
}
.story {
}
.story_buiscuit {
}
.sec2_tab {
  width: 100%;
}
.sec2_tab ul {
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-family: "bold";
  color: #d2d2d2;
  margin: auto;
}
.sec2_tab ul li {
  cursor: pointer;
  padding: 0.2em 0.5em;
  transition: 0.3s;
}
.sec2_tab ul li:hover {
  color: #f97fb5;
}
.sec2_tab li.on {
  color: #f97fb5;
  border: 2px solid #f97fb5;
  border-radius: 30px;
}
.story_box {
  display: flex;
  background-color: #fff;
  border-radius: 60px;
  padding: 2em 2em 0em 2em;
  margin: 2em 0;
}
.story_img {
  flex: 0.8;
  margin-right: 2em;
}
.story_img img {
}
article {
  flex: 1.2;
}
.tab_title {
  height: 70px;
  display: flex;
}
.tab_title h2 {
  font-size: 60px;
}
.tab_title img {
}
article {
}
article p {
  font-size: 20px;
  color: #817879;
  line-height: 2em;
  margin: 2em 0;
}
.story_link {
}
.story_link a {
  display: inline-block;
  text-align: center;
  width: 30%;
  font-size: 20px;
  padding: 1em 1em;
  border-radius: 25px;
  font-family: "bold";
  border: 1px solid #c54769;
}
.story_link a:nth-of-type(1) {
  background-color: #c54769;
  color: #fff;
  margin-right: 1em;
}
.story_link a:nth-of-type(2) {
  color: #c54769;
}
.prod_wrap {
  width: 90%;
  margin: auto;
  overflow: hidden;
  border: 1px solid blue;
}
.prod_slide {
  /* width: 100%; */
  display: flex;
}
.prod_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  margin-right: 2em;
}
.prod_bg {
  border-radius: 50%;
  overflow: hidden;
}
.c_green {
  background-color: #d2e377;
}
.c_yellow {
  background-color: #fbe8ad;
}
.c_blue {
  background-color: #bee0f9;
}
.c_purple {
  background-color: rgb(148, 83, 216, 0.5);
}
.prod_bg img {
  transition: 0.3s;
}
.prod_box span {
  font-size: 20px;
  font-family: "bold";
  color: #c54769;
  margin: 1em 0;
}
.prod_box a {
  display: block;
  width: 100%;
  border-radius: 22.5px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding: 0.6em 0;
  background-color: #f97fb5;
  transition: 0.3s;
}
/* .prod_hover:hover img {
  transform: scale(1.1);
} */
.prod_box a:hover {
  background-color: #c54769;
}
/* sec3_esg managment */
.sec3_esgmanagment {
}
.sec3_inner {
  display: flex;
  justify-content: space-around;
}
.sec3_inner > div {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.column1 {
  padding-bottom: 20em;
}
.column2 {
  padding-top: 5em;
}
.esg_title {
  text-align: left;
}
.esg_title h4 {
  margin-bottom: 0.8em;
}
.esg_title h2 {
}
.column1 {
}
.column2 > .esg_content:nth-child(1) {
  margin-bottom: 5em;
}
.esg_content {
}
.esg_content a {
}
.esg_content a img {
}
.esg_content h5 {
  font-size: 25px;
  color: #c54769;
  margin-bottom: 0.5em;
}
.esg_content p {
  color: #817879;
}
/* sec4_service */
.sec4_service {
  background-color: #fff5f6;
  overflow: hidden;
  height: 360px;
  margin: 0;
}
.sec4_bg {
  width: 100%;
  position: relative;
}
.sec4_bg p {
  font-family: "bold";
  font-size: 180px;
  color: #fdcfd4;
  opacity: 30%;
  position: absolute;
  left: 50%;
  transform: translateX(-90%);
}
.sec4_inner {
  height: 360px;
  display: flex;
  position: relative;
}
.sec4_inner > div {
  position: relative;
  width: 50%;
}
.sec4_inner > div > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service_island {
}
.service_island img {
  /* border: 1px solid #000; */
}
.service_text {
  /* border: 1px solid #000; */
  float: right;
  color: #444444;
}
.service_text h3 {
  font-size: 30px;
  letter-spacing: 0.1em;
  margin-bottom: 0.8em;
}
.service_text p {
  font-size: 18px;
  margin-bottom: 3em;
}
.service_text a {
  border: 1.5px solid #444444;
  border-radius: 28px;
  padding: 0.5em 1em;
  color: #444444;
}

.arrow {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 15px;
  height: 2px;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #444444;
}
/* .arrow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  border-bottom: 2px solid #444444;
  transform: translateY(-50%);
} */
.arrow::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid #444444;
  border-top: 2px solid #444444;
  transform: translateY(-50%) rotate(45deg);
}
.service_text a:hover .arrow {
  width: 35px;
}
/* footer */
footer {
  background-color: #333333;
}
footer h6 {
  font-size: 16px;
  color: #fff;
}
footer a {
  color: rgb(255, 255, 255, 0.5);
}
footer li {
  font-size: 14px;
  margin-top: 2em;
}
footer li a {
  transition: 0.3s;
}
footer li a:hover {
  color: #fff;
}
.footer_inner {
  display: flex;
  padding: 3em;
}
.copyright {
  flex: 2;
}
.logo {
}
.logo img {
  width: 20%;
  opacity: 80%;
}
.copyright p {
  color: rgb(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 2em;
  margin: 2em 0;
}
.copyright p em {
  color: rgb(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 13px;
}
.sns {
}
.sns i {
  color: rgb(255, 255, 255, 0.6);
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 0.3em;
  transition: 0.3s;
}
.sns i:hover {
  color: rgb(255, 255, 255, 01);
}
.quickmenu {
  flex: 1;
}
.familysite {
  flex: 1;
}
