@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .inner {
    width: 100%;
    margin: auto;
  }
  section {
    margin-bottom: 0em;
  }
  /* header */
  header {
    width: 100%;
    height: 66px;
    background-color: rgb(255, 255, 255);
  }
  .header_inner {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1em;
  }
  .header_logo {
    width: 120px;
  }
  nav {
    display: none;
  }
  .menu {
    width: fit-content;
  }
  .menu_icon {
    width: 25px;
    height: 25px;
  }
  .menu_icon span {
    height: 4px;
    background-color: #f675a7;
    /* 스크롤시 핑크 */
  }
  .menu_lang,
  .menu_search {
    display: none;
  }
  /* sub nav */
  .sub_nav {
    top: 66px;
  }
  .s_nav {
    width: 50%;
  }
  /* title */
  .main_title {
    margin-top: 112px;
    padding: 3em 0 0em 0;
  }
  .main_title h1 {
    font-size: 6vw;
  }
  .main_title p,
  .cf_title p {
    font-size: 4vw;
    margin: 10px 0 30px 0;
  }
  .cf_title h1 {
    font-size: 6vw;
  }
  /* main Video */
  .main_inner {
    padding: 0 1em;
    height: fit-content;
  }
  .main_video {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .main_v {
    flex: 0;
    width: 100%;
    height: fit-content;
    margin-bottom: 1em;
  }
  .main_v h2 {
    font-size: 1em;
    text-align: center;
    color: #c54769;
    color: #555;
    margin: 0.5em 1em;
    letter-spacing: 0em;
    display: none;
  }
  .side_video {
    flex: 0;
    display: flex;
    margin-left: 0em;
    position: relative;
  }
  .side_video div {
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  /* sec2 CF*/
  .cf_wrap {
    margin-top: 2em;
  }
  .cf_inner {
    padding: 0 1em;
  }
  .category {
    margin-bottom: 50px;
  }
  .category ul {
    width: 80%;
    flex-wrap: wrap;
    gap: 7px 0%;
    justify-content: center;
  }
  .category ul li {
    font-size: 1em;
    padding: 0.5em;
    margin: 0.2em;
  }
  .cf_video p {
    font-size: 0.7em;
  }
  .cf_video ul {
    display: flex;
    gap: 15px 3.4%;
    padding: 0 0 0 3.2%;
    flex-wrap: wrap;
    margin-bottom: 2em;
  }
  li.cf {
    width: 47%;
    padding: 0.5em;
  }
  .cf_img {
    border-radius: 15px;
    width: 100%;
    /* height: 165.15px; */
    height: auto;
    overflow: hidden;
  }
  .cf_img img {
    max-width: 100%;
  }
  .cf a span {
    display: inline-block;
    padding-top: 0.5em;
    color: #555;
    font-size: 3vw;
  }
  .more_btn {
    width: 47%;
    height: auto;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #f675a7;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  a.more {
    display: block;
    width: 100%;
    height: 100%;
    color: #f675a7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  a.more span:nth-child(1) {
    font-size: 3vw;
    display: block;
    font-family: "nomal";
  }
  a.more span:nth-child(2) {
    font-size: 1.5em;
  }
  /* footer */
  footer {
  }
  footer h6 {
    font-size: 3vw;
    color: #fff;
  }
  .footer_inner {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
  }
  .copyright {
    grid-area: copy;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo sns"
      "copyright copyright";
  }
  .logo {
    grid-area: logo;
  }
  .logo img {
    width: 50%;
    opacity: 80%;
  }
  .copyright p {
    grid-area: copyright;
    color: rgb(255, 255, 255, 0.8);
    font-size: 3vw;
    line-height: 2em;
    margin: 0.5em 0;
  }
  .sns {
    grid-area: sns;
    text-align: end;
  }
  .quickmenu {
    margin-top: 0.3em;
  }
  .quickmenu > ul {
    display: flex;
    margin-top: 0.3em;
  }
  .quickmenu ul li {
    margin: 0.5em 0.3em;
    font-size: 3.2vw;
  }
  .familysite {
    margin-top: 0em;
    cursor: pointer;
  }
  .familysite h6 {
    border-bottom: 2px solid #fff;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    line-height: normal;
    padding: 0.5em 0;
  }
  .select {
    width: 25px;
    height: 25px;
    position: relative;
  }
  .select span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    border-radius: 3px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
  }
  .select span:nth-child(1) {
    transform: rotate(0deg);
  }
  .select span:nth-child(2) {
    transform: rotate(90deg);
  }
  .select span:nth-child(1).active {
    transform: rotate(45deg);
  }
  .select span:nth-child(2).active {
    transform: rotate(-45deg);
  }
  .familysite > ul {
    border-bottom: 2px solid rgba(255, 255, 255, 0.658);
    border-top: none;
  }
  .quickmenu ul li {
    margin: 0.5em 0.3em;
    font-size: 3.1vw;
  }
  .familysite ul li {
    margin: 0em 0em;
    padding: 1em 0.3em;
    font-size: 3.1vw;
  }
  /* 이 안으로 작성 */
}
@media (max-width: 500px) {
  .mind_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2em;
  }
  .mind {
    width: 100%;
    height: auto;
    position: relative;
  }
  .mind_circle {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0%;
  }
  .mind_circle span {
    width: 120px;
    height: 120px;
    display: block;
    background-color: #f675a7;
    border-radius: 50%;
    position: absolute;
    top: 22%;
    left: 20%;
    transform: translateX(-50%);
  }
  .mind_circle img {
    width: 30%;
    object-fit: contain;
    object-position: 0px 2px;
  }
  .mc2 img {
    width: 30%;
    object-position: 0px 0px;
  }
  .mc3 img {
    width: 30%;
    object-position: 0px 6px;
  }
  .clip_path {
    clip-path: url(#);
    position: absolute;
    top: 25%;
    left: 5%;
    border-radius: 50%;
  }
  .mind_text {
    width: 100%;
    float: right;
    text-align: center;
    border-radius: 25px;
    padding: 2em 1em 2em 1em;
    margin-top: 1em;
  }
  .mind_text > span {
    font-family: "bold";
  }
  .mind_text > span:nth-child(1) {
    font-size: 0vw;
  }
  .mind_text > span:nth-child(2) {
    width: 60%;
    font-size: 3.5vw;
    line-height: 1.3em;
    margin: 0 0 0 auto;
    text-align: start;
  }
  .mind_text > span:nth-child(2) br {
    display: none !important;
  }
  .mind_text > span > em {
    font-style: normal;
    color: #c54769;
  }
  .mind_text > span.dot {
    display: none;
  }

  .mind_text > p {
    width: 60%;
    margin: 1em 0 0 auto;
    line-height: 1.5em;
    text-align: start;
  }
  .pink_bg {
    width: 0%;
  }
  /* 상품슬라이드 */

  .prod_box {
    margin-right: 1em;
  }
  .prod_bg {
    width: 100px;
    height: 100px;
  }
}
