/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

/* font */
@font-face {
  font-family: "bold";
  src: url("../font/TmoneyRoundWindExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "nomal";
  src: url("../font/TmoneyRoundWindRegular.ttf") format("truetype");
}

/* common */
* {
  box-sizing: border-box;
}
body {
  font-family: "nomal";
  font-size: 16px;
}
.wrap {
  overflow: hidden;
  position: relative;
  background: url(../image/main_visual/mobile.jpg) no-repeat;
}
.inner {
  width: 1200px;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "bold";
}
section {
  margin-bottom: 5em;
}
/* header */
header {
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255, 0.2);
  transition: 0.3s;
}

.top_stick {
  display: block;
  width: 100%;
  height: 2px;
  position: relative;
  background-color: #c54769;
}
/* .top_stick::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  background-color: #ff7e00;
} */
.header_inner {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  /* grid-template-rows: 72px; */
  align-items: center;
}
.header_logo {
  width: 120px;
}
.header_logo img {
  max-width: 100%;
}
header:hover {
  background: linear-gradient(to bottom, #fff, #fff5fd);
}
header:hover ul.gnb li a {
  color: #f97fb5;
  position: relative;
}
header:hover ul.gnb li a:hover {
  color: #ff7e00;
  position: relative;
}
header:hover ul.gnb li a.orange {
  color: #ff7e00;
  position: relative;
}
header:hover ul.gnb > li > ul > li > a:hover {
  color: #ff7e00;
  position: relative;
  /* font-family: "bold"; */
}
header:hover ul.gnb > li > ul > li > a::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1.7px solid #ff7e00;
  transition: 0.3s;
}
header:hover ul.gnb > li > ul > li > a:hover::before {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1.7px solid #ff7e00;
}

/* navigation 네비게이션 */
nav {
}
ul.gnb {
  display: flex;
  justify-content: center;
  padding: 1.5em 0;
}
.gnb li {
  position: relative;
}
.gnb li a {
  width: 100%;
  color: #fff;
  padding: 0 1.5em;
  transition: 0.3s;
  font-size: 18px;
  text-shadow: 0 0 1px #fff;
}
/* navigation */
.nav_bg {
  width: 100%;
  background-color: #fff5fd;
  position: absolute;
  height: 230px;
  top: 65px;
  display: none;
}
.nav_info {
  width: 218px;
  height: 218px;
  position: absolute;
  left: 14%;
  background: url(../image/header/nav/nav_0.png);
  background-repeat: no-repeat;
  background-position: 0% -2347.286px;
  /* overflow: hidden;
  border: 1px solid #000;
  background-repeat: no-repeat;
  background-position: 0% -543.934px;
  background-position: 0% -800.802px;
  background-position: 0% -1058.934px;
  background-position: 0% -1316.934px;
  background-position: 0% -1572.495px;
  background-position: 0% -1835.934px;
  background-position: 0% -2089.934px;
  background-position: 0% -2347.286px;
  */
}
.gnb li ul {
  display: none;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40px;
}
.gnb li ul li {
  width: 100%;
  margin-bottom: 1em;
}
.gnb li:nth-child(6) ul {
  width: 120%;
}
.gnb li ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  padding: 0;
}
/* #nav {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 70px;
  margin: 0 auto;
  background-color: #fff;
}
.nav_inner {
  display: flex;
}
.nav_inform {
  width: 19%;
  border: 1px solid #000;
}
.nav_inform img {
}
.nav_inform span {
}
.nav_inform p {
}
.lnb {
  width: 63%;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.lnb ul {
  border: 1px solid #000;
  width: 100%;
}
.lnb ul li {
  margin-bottom: 1em;
}
.lnb ul li a {
  font-size: 15px;
  color: ;
} */
/* menu */
.menu {
  width: 80%;
  display: flex;
  justify-content: space-between;
  justify-self: end;
}
.menu > div {
  cursor: pointer;
}
.menu_lang {
}
.menu_lang a {
  color: #fff;
  font-size: 20px;
  transition: 0.3s;
}
.menu_lang a i {
  padding-left: 0.1em;
  font-size: 18px;
  vertical-align: middle;
}
.menu_lang ul {
  display: none;
}
.menu_search {
  width: 21px;
  width: 21px;
  background: url(../image/header/menu_icon/search.png);
  background-repeat: no-repeat;
  transition: 0.3s;
}
header:hover .menu_search {
  background-image: url(../image/header/menu_icon/search\(pink\).png);
  transition: 0.3s;
}
header:hover .menu_search:hover {
  background-image: url(../image/header/menu_icon/search\(orange\).png);
}
.menu_search img {
  width: 100%;
}
.menu_icon {
  width: 20px;
  height: 19px;
  position: relative;
}
.menu_icon span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  transition: 0.3s;
}
header:hover .menu_icon span {
  background-color: #f97fb5;
  transition: 0.3s;
}
header:hover .menu_icon:hover span {
  background-color: #ff7e00;
}
.menu_icon span:nth-child(1) {
  top: 0;
}
.menu_icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.menu_icon span:nth-child(3) {
  bottom: 0;
}
header:hover .menu_lang a {
  color: #f97fb5;
}

/* footer */
footer {
  background-color: #333333;
}
footer h6 {
  font-size: 16px;
  color: #fff;
}
footer a {
  color: rgb(255, 255, 255, 0.5);
}
footer li {
  font-size: 14px;
  margin-top: 2em;
}
footer li a {
  transition: 0.3s;
}
footer li a:hover {
  color: #fff;
}
.footer_inner {
  display: flex;
  padding: 3em;
}
.copyright {
  flex: 2;
}
.logo {
}
.logo img {
  width: 20%;
  opacity: 80%;
}
.copyright p {
  color: rgb(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 2em;
  margin: 2em 0;
}
.copyright p em {
  color: rgb(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 13px;
}
.sns {
}
.sns i {
  color: rgb(255, 255, 255, 0.6);
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 0.3em;
  transition: 0.3s;
}
.sns i:hover {
  color: rgb(255, 255, 255, 01);
}
.quickmenu {
  flex: 1;
}
.familysite {
  flex: 1;
}
